extends ../../../layouts/admin

block head
  title 帐号 / 详情

block neck
  link(rel='stylesheet', href='/views/admin/accounts/details.min.css?#{cacheBreaker}')

block feet
  script(src='/views/admin/accounts/details.min.js?#{cacheBreaker}')

block body
  div.row
    div.col-xs-12
      div#header
  div.row
    div.col-sm-8
      div#integrals
      div#details
      div#login
      div#delete
    div.col-sm-4
      fieldset
        div#status-new.status-new
        div#status-collection
      fieldset
        div#notes-new.notes-new
        div#notes-collection

  script(type='text/template', id='tmpl-header')
    div.page-header
      h1
        a(href='/admin/accounts/') 帐号
        |  / <%- name.full %>

  script(type='text/template', id='tmpl-integrals')
    fieldset
      legend 积分信息
      div.alerts
        |<% _.each(errors, function(err) { %>
        div.alert.alert-danger.alert-dismissable
          |<%- err %>
        |<% }); %>
        |<% if (success) { %>
        div.alert.alert-info.alert-dismissable
          button.close(type='button', data-dismiss='alert') &times;
          | 修改已保存。
        |<% } %>
      div.control-group(class!='<%- errfor.consumeMoney ? "has-error" : "" %>')
        label.control-label 累计消费金额:
        input.form-control(type='text', name='consumeMoney', value!='<%- consumeMoney %>')
        span.help-block <%- errfor.consumeMoney %>
      div.control-group(class!='<%- errfor.points ? "has-error" : "" %>')
        label.control-label 积分:
        input.form-control(type='text', name='points', value!='<%- points %>')
        span.help-block <%- errfor.points %>
      div.control-group(class!='<%- errfor.coins ? "has-error" : "" %>')
        label.control-label 金币:
        input.form-control(type='text', name='coins', value!='<%- coins %>')
        span.help-block <%- errfor.coins %>
      div.control-group
        button.btn.btn-primary.btn-update(type='button') 确认修改
      
  script(type='text/template', id='tmpl-details')
    fieldset
      legend 联络信息
      div.alerts
        |<% _.each(errors, function(err) { %>
        div.alert.alert-danger.alert-dismissable
          |<%- err %>
        |<% }); %>
        |<% if (success) { %>
        div.alert.alert-info.alert-dismissable
          button.close(type='button', data-dismiss='alert') &times;
          | 修改已保存。
        |<% } %>
      div.control-group(class!='<%- errfor.first ? "has-error" : "" %>')
        label.control-label 姓:
        input.form-control(type='text', name='first', value!='<%- first %>')
        span.help-block <%- errfor.first %>
      div.control-group(class!='<%- errfor.last ? "has-error" : "" %>')
        label.control-label 名:
        input.form-control(type='text', name='last', value!='<%- last %>')
        span.help-block <%- errfor['last'] %>
      div.control-group(class!='<%- errfor.company ? "has-error" : "" %>')
        label.control-label 工作单位:
        input.form-control(type='text', name='company', value!='<%- company %>')
        span.help-block <%- errfor.company %>
      div.control-group(class!='<%- errfor.phone ? "has-error" : "" %>')
        label.control-label 电话号码:
        input.form-control(type='text', name='phone', value!='<%- phone %>')
        span.help-block <%- errfor.phone %>
      div.control-group(class!='<%- errfor.zip ? "has-error" : "" %>')
        label.control-label 邮政编码:
        input.form-control(type='text', name='zip', value!='<%- zip %>')
        span.help-block <%- errfor.zip %>
      div.control-group
        button.btn.btn-primary.btn-update(type='button') 确认修改

  script(type='text/template', id='tmpl-login')
    fieldset
      legend 登录
      div.alerts
        |<% _.each(errors, function(err) { %>
        div.alert.alert-danger.alert-dismissable
          button.close(type='button', data-dismiss='alert') &times;
          |<%- err %>
        |<% }); %>
      div.control-group(class!='<%- errfor.newUsername ? "has-error" : "" %>')
        label.control-label 用户名:
        div.input-group
          |<% if (name) { %>
          input.form-control(disabled=true, value!='<%= name %>')
          div.input-group-btn
            button.btn.btn-warning.btn-user-unlink(type='button') 取消关联
            button.btn.btn-default.btn-user-open(type='button') 打开
          |<% } else { %>
          input.form-control(name='newUsername', type='text', placeholder='输入用户名')
          div.input-group-btn
            button.btn.btn-success.btn-user-link(type='button') 关联
          |<% } %>
        span.help-block <%- errfor.newUsername %>

  script(type='text/template', id='tmpl-status-new')
    legend 状态
    div.alerts
      |<% _.each(errors, function(err) { %>
      div.alert.alert-danger.alert-dismissable
        button.close(type='button', data-dismiss='alert') &times;
        |<%- err %>
      |<% }); %>
    div.input-group
      select.form-control(name='status')
        option(value='') -- 选择 --
        for status in data.statuses
          option(value='#{status._id}') #{status.name}
      div.input-group-btn
        button.btn.btn-default.btn-add 修改

  script(type='text/template', id='tmpl-status-collection')
    div#status-items.status-items

  script(type='text/template', id='tmpl-status-item')
    div.pull-right.badge.author
      |<%= userCreated.name %>
      | -&nbsp;
      span.timeago <%= userCreated.time %>
    div <%- name %>
    div.clearfix

  script(type='text/template', id='tmpl-notes-new')
    legend 备注
    div.alerts
      |<% _.each(errors, function(err) { %>
      div.alert.alert-danger.alert-dismissable
        button.close(type='button', data-dismiss='alert') &times;
        |<%- err %>
      |<% }); %>
    textarea.form-control(rows='3', name='data', placeholder='输入备注')
    button.btn.btn-default.btn-block.btn-add 添加新备注

  script(type='text/template', id='tmpl-notes-collection')
    div#notes-items.notes-items

  script(type='text/template', id='tmpl-notes-item')
    div.force-wrap <%- data %>
    div.pull-right.badge.author
      |<%= userCreated.name %>
      | -&nbsp;
      span.timeago <%= userCreated.time %>
    div.clearfix

  script(type='text/template', id='tmpl-notes-none')
    div.note.text-muted 当前没有备注

  script(type='text/template', id='tmpl-delete')
    fieldset
      legend 危险区域
      div.alerts
        |<% _.each(errors, function(err) { %>
        div.alert.alert-danger.alert-dismissable
          button.close(type='button', data-dismiss='alert') &times;
          |<%- err %>
        |<% }); %>
      div.control-group
        span.help-block
          span.label.label-danger 请确保你要进行此操作，此操作不能还原。
          |&nbsp;
          span.text-muted 你也可能导致孤立文档关系出现（即资源与其他资源没有任何关联）
      div.control-group
        button.btn.btn-danger.btn-delete(type='button') 删除

  script(type='text/template', id='data-record') !{data.record}
