extends ../../../layouts/admin

block head
  title 管理会员帐号

block neck
  link(rel='stylesheet', href='/views/admin/accounts/index.min.css?#{cacheBreaker}')

block feet
  script(src='/views/admin/accounts/index.min.js?#{cacheBreaker}')

block body
  div.row
    div.col-xs-12
      div#header
      div#filters
      div#results-table
      div#results-paging

  script(type='text/template', id='tmpl-header')
    div.page-header
      form.form-inline.pull-right
        div.input-group
          input.form-control(name='name', type='text', placeholder='输入会员姓名', value!='<%- name.full %>')
          button.btn.btn-primary.btn-add(type='button') 添加新会员
      h1 会员帐号

  script(type='text/template', id='tmpl-filters')
    form.filters
      div.row
        div.col-sm-3
          label 搜索
          input.form-control(name='search', type='text')
        div.col-sm-3
          label 状态
          select.form-control(name='status')
            option(value='') -- 任意 --
            for status in data.statuses
              option(value='#{status._id}') #{status.name}
        div.col-sm-3
          label 排序
          select.form-control(name='sort')
            option(value='_id') id &#9650;
            option(value='-_id') id &#9660;
            option(value='name') name &#9650;
            option(value='-name') name &#9660;
            option(value='company') company &#9650;
            option(value='-company') company &#9660;
        div.col-sm-3
          label 数量
          select.form-control(name='limit')
            option(value='10') 10 条
            option(value='20', selected='selected') 20 条
            option(value='50') 50 条
            option(value='100') 100 条

  script(type='text/template', id='tmpl-results-table')
    table.table.table-striped
      thead
        tr
          th
          th
            | 姓名(*表示只有账户,未填写真实姓名)
            span.pull-right.timeago.muted 
          th 电话号码
          th 创建时间
          th 累计金额
          th 会员等级
          th 阿狸币
      tbody#results-rows

  script(type='text/template', id='tmpl-results-row')
    td
      input.btn.btn-default.btn-sm.btn-details(type='button', value='编辑')
    td.stretch
      span.badge.badge-clear.timeago.pull-right(data-age='y') <%= userCreated.time %>
      |<%- name.full ? name.full : '*'+user.name %>
    td.nowrap <%- phone %>
    td.nowrap
      div <%- status.name %>
      div.timeago.muted <%= status.userCreated.time %>
    td.nowrap <%= integral.consumeMoney %>
    td.nowrap <%= integral.points ? integral.levelName+'(lv'+ integral.level +')': '' %>
    td.nowrap <%= integral.coin %>

  script(type='text/template', id='tmpl-results-empty-row')
    tr
      td(colspan='4') no documents matched

  script(type='text/template', id='tmpl-results-paging')
    div.well
      div.btn-group.pull-left
        button.btn.btn-default(disabled=true) Page <%= pages.current %> of <%= pages.total %>
        button.btn.btn-default(disabled=true) Rows <%= items.begin %> - <%= items.end %> of <%= items.total %>
      div.btn-group.pull-right
        button.btn.btn-default.btn-page.btn-prev(data-page!='<%= pages.prev %>') 上一页
        button.btn.btn-default.btn-page.btn-next(data-page!='<%= pages.next %>') 下一页
      div.clearfix

  script(type='text/template', id='data-results') !{data.results}
