h3 欢迎加入 #{projectName}
p 感谢你的注册。你的帐号已经创建成功，下面是你的登录信息：
table(border='1', cellpadding='5', cellspacing='0')
  tr
    td 用户名:
    td #{username}
  tr
    td Email:
    td #{email}
  tr
    td 在此登录:
    td #{loginURL}
p
  | 谢谢！
  br
  | #{projectName}
