doctype html
html
  head
    block head
      title #{title}
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(rel='stylesheet', href='/layouts/core.min.css?#{cacheBreaker}')
    block neck
  body
    div.navbar.navbar-default.navbar-static-top
      a.navbar-brand(href='/')
        img.navbar-logo(src='/media/logo-symbol-64x64.png')
        span.navbar-brand-label #{projectName}
        span.icon-bar
        span.icon-bar
        span.icon-bar
      ul.nav.nav-tabs.pull-right
        li: a(href='/about/') 关于
        li: a(href='/signup/') 注册
        li: a(href='/contact/') 联系我们
        if user && user.username
          li: a(href='#{user.defaultReturnUrl}')
            i.fa.fa-user
            |  #{user.nickname}
        else
          li: a(href='/login/')
            i.fa.fa-user
            |  登录

    div.page
      div.container
        block body

    div.footer
      div.container
        span.copyright.pull-right
          |&#169; #{copyrightYear} #{copyrightName}
        ul.links
          li: a(href='/') 首页
          li: a(href='/contact/') 联系我们
          li: a(href='/logout/') 清除会话
        div.clearfix

    div.ajax-spinner
      img(src='/media/ajax-pulse.gif')

    //if lte IE 9
      script(src='/layouts/ie-sucks.min.js?#{cacheBreaker}')
    script(src='/layouts/core.min.js?#{cacheBreaker}')

    block feet
