extends ../../../layouts/admin

block head
  title 管理状态

block neck
  link(rel='stylesheet', href='/views/admin/statuses/index.min.css?#{cacheBreaker}')

block feet
  script(src='/views/admin/statuses/index.min.js?#{cacheBreaker}')

block body
  div.row
    div.col-xs-12
      div#header
      div#filters
      div#results-table
      div#results-paging

  script(type='text/template', id='tmpl-header')
    div.page-header
      form.form-inline.pull-right
        div.input-group
          input.form-control(name='pivot', type='text', placeholder='前缀(英文字符)', value!='<%= pivot %>')
          input.form-control(name='name', type='text', placeholder='名称', value!='<%= name %>')
          button.btn.btn-primary.btn-add(type='button') 添加状态
      h1 状态

  script(type='text/template', id='tmpl-filters')
    form.filters
      div.row
        div.col-sm-3
          label 搜索前缀
          input.form-control(name='pivot', type='text')
        div.col-sm-3
          label 搜索名称
          input.form-control(name='name', type='text')
        div.col-sm-3
          label 排序
          select.form-control(name='sort')
            option(value='_id') id &#9650;
            option(value='-_id') id &#9660;
            option(value='name') name &#9650;
            option(value='-name') name &#9660;
        div.col-sm-3
          label 数量
          select.form-control(name='limit')
            option(value='10') 10 条
            option(value='20', selected='selected') 20 条
            option(value='50') 50 条
            option(value='100') 100 条

  script(type='text/template', id='tmpl-results-table')
    table.table.table-striped
      thead
        tr
          th
          th 前缀
          th.noWrap 名称
          th id
      tbody#results-rows

  script(type='text/template', id='tmpl-results-row')
    td
      input.btn.btn-default.btn-sm.btn-details(type='button', value='编辑')
    td <%- pivot %>
    td <%- name %>
    td.nowrap <%= _id %>

  script(type='text/template', id='tmpl-results-empty-row')
    tr
      td(colspan='4') 无相关文档

  script(type='text/template', id='tmpl-results-paging')
    div.well
      div.btn-group.pull-left
        button.btn.btn-default(disabled=true) Page <%= pages.current %> of <%= pages.total %>
        button.btn.btn-default(disabled=true) Rows <%= items.begin %> - <%= items.end %> of <%= items.total %>
      div.btn-group.pull-right
        button.btn.btn-default.btn-page.btn-prev(data-page!='<%= pages.prev %>') 上一页
        button.btn.btn-default.btn-page.btn-next(data-page!='<%= pages.next %>') 下一页
      div.clearfix

  script(type='text/template', id='data-results') !{data.results}
